<div class="body-detSnippet">
    <!-- error not found -->
    <div ng-if="!snippet">
        <div class="page-header">
            <h1>Error!</h1>
        </div>
        <div class="alert alert-danger">
            <p>
                Pokemon not found (404)
            </p>
        </div>
    </div>
    <!-- /error not found -->

    <!--detall - snippet-->
    <div ng-if="snippet">
        <div class="page-header">
            <h1>
                {{snippet.title}}
                <small>{{snippet.language}}/{{snippet.style}}</small>
                <span class="label label-primary pull-right">{{snippet.owner}}</span>
            </h1>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>{{snippet.code   }}</label>
            </div>
        </div>
    </div>
    <!-- /detall - snippet-->
</div>
